<!DOCTYPE html>
<html lang="uk">

<style>
    body {background-color: #F8F6F6}
    img {width: 250px}
    h3 {margin-left: 120px; margin-bottom: 1px; margin-top: 1px}
</style>

<head>
    <meta charset="UTF-8">
    <h3 align="center"><img src="pictures/palma-hotel-logo.svg"></h3>
</head>
<body>
            <table border="0" style="margin:0; padding:0;" width="75%">

                <tr style="width: 25%; text-align: left"><h3>Ім'я name: ${firstName}</h3></tr> <br>
                    <tr style="width: 25%; text-align: left"><h3>Прізвище: ${lastName}</h3></tr> <br>

                    <tr style="width: 25%; text-align: left"><h3>Телефон: ${phone}</h3></tr> <br>
                    <tr style="width: 25%; text-align: left"><h3>Email: ${email}</h3></tr> <br>

                    <tr style="width: 30%; text-align: left"><h3>Дата заїзду: ${dateIn}</h3></tr> <br>
                    <tr style="width: 30%; text-align: left"><h3>Дата від'їзду: ${dateOut}</h3></tr> <br>

                    <tr style="width: 30%; text-align: left"><h3>Тип кімнати: ${roomType}</h3></tr> <br>
                    <tr style="width: 30%; text-align: left"><h3>Кількість кімнат: ${amountOfRoom}</h3></tr> <br>

                    <tr style="width: 30%; text-align: left"><h3>Кількість дорослих: ${adults}</h3></tr> <br>
                    <tr style="width: 30%; text-align: left"><h3>Кількість дітей: ${kids}</h3></tr> <br>

                <tr style="text-align: left"><h3>Повідомлення: ${message}</h3></tr> <br>

            </table>

</body>
</html>
