<!DOCTYPE html>
<html lang="uk">

<style>
    body {background-color: #F8F6F6}
    img {width: 250px}
    h3 {margin-left: 120px; margin-bottom: 1px; margin-top: 1px}
    hr {height:3px; border-width:0; color:#53D7B7; background-color:#53D7B7}
</style>

<head>
    <meta charset="UTF-8">
    <h3 align="center"><img src="pictures/palma-hotel-logo.svg"></h3>
</head>
<body>
<table border="0" style="margin:0; padding:0;" width="75%">
    <hr>
    <tr style="text-align: left"><h3>Дата: ${dateTime}</h3></tr> <br>
    <tr style="text-align: left"><h3>Ім'я: ${name}</h3></tr> <br>

    <tr style="text-align: left"><h3>Email: ${email}</h3></tr> <br>
    <tr style="text-align: left"><h3>Телефон: ${phone}</h3></tr> <br>
    <hr>
    <tr style="text-align: center"><h3>Відгук: ${message}</h3></tr> <br>
    <hr>
</table>

</body>
</html>
