<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        body {background-color: #F8F6F6}
        p {margin-left: 120px; margin-bottom: 1px; margin-top: 1px}
        h3 {margin-left: 120px; margin-bottom: 1px; margin-top: 1px}
        hr {height:3px; border-width:0; color:#53D7B7; background-color:#53D7B7}
    </style>
</head>
<body>
<hr>
    <h3>Підтвердження бронювання: ${dateIn} - ${dateOut}</h3>
    <p>Щойно надійшло нове бронювання, оформлене через сайт Palmahotel.lviv.ua</p>
    <p>Дані нового бронювання:</p>
    <table border="0" style="margin:0; padding:0;" width="75%">
        <tr style="width: 25%; text-align: left"><p>Ім'я name: ${firstName}</p></tr> <br>
        <tr style="width: 25%; text-align: left"><p>Прізвище: ${lastName}</p></tr> <br>
        <tr style="width: 25%; text-align: left"><p>Телефон: ${phone}</p></tr> <br>
        <tr style="width: 25%; text-align: left"><p>Email: ${email}</p></tr> <br>
        <tr style="width: 30%; text-align: left"><p>Тип кімнати: ${roomType}</p></tr> <br>
        <tr style="width: 30%; text-align: left"><p>Кількість кімнат: ${amountOfRoom}</p></tr> <br>
        <tr style="width: 30%; text-align: left"><p>Кількість дорослих: ${adults}</p></tr> <br>
        <tr style="width: 30%; text-align: left"><p>Кількість дітей: ${kids}</p></tr> <br>
        <tr style="text-align: left"><p>Повідомлення: ${message}</p></tr> <br>
        <tr style="text-align: left"><p>Дата замовлення: ${bookingDay}</p></tr> <br>
        <tr style="text-align: left"><p>Статус замовлення: ${orderStatus}</p></tr> <br>
    </table>
<hr>
</body>
</html>